encryption = "gpg"

[data.private]
  gitlabHost = {{ promptStringOnce . "private.gitlabHost" "Private GitLab host" | quote }}
  npmHost = {{ promptStringOnce . "private.npmHost" "Private npm registry host" | quote }}

[edit]
  args = ["--wait"]
  command = "code"

[gpg]
  args = ["--quiet"]
  recipients = ["36F97A0999999999", "4700E3BE99999999"]

[merge]
  command = "bash"
  args = [
    "-c",
    {{ printf "%q" `cp {{ .Target | quote }} {{ printf "%s.base" .Target | quote }} && code --new-window --wait --merge {{ .Destination | quote }} {{ .Target | quote }} {{ printf "%s.base" .Target | quote }} {{ .Source | quote }}` }},
  ]
